body{
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
}

header{
    background-color: #b13d3e;
    img{
        width: 25%;
        height: auto;
    }
}

footer{
    background-color: #b13d3e;
}

#wheelCanvas {
    border: 2px solid #ccc;
    background: white;
    max-width: 100%;
    height: auto;
}